

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    height: 100%;
    width: 100%;
    background-image: url("../img/tomato.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.footerClass{
	color: white;
	padding-top: 375px;
}















